In [ ]:

#from google.colab import drive
#drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

Copying all files needed from my drive

In [ ]:
#!cp -r '/content/drive/My Drive/Restaurant Recommendatio System/' '/content/data'

Installing needed libraries

In [ ]:
!pip -q install lightgbm

Importing all libraries

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
pd.options.display.width = 200
import random 
from datetime import datetime,date,time
import gc

In [ ]:
#setting the seed for reproducibel results
SEED_VAL = 11071998
def seed_all():
  random.seed(SEED_VAL)
  np.random.seed(SEED_VAL)

# Helper Functions

In [ ]:
def reduce_mem_usage(df, verbose=True):
  numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
  start_mem = df.memory_usage().sum() / 1024**2
  for col in df.columns:
      col_type = df[col].dtypes
      if col_type in numerics:
          c_min = df[col].min()
          c_max = df[col].max()
          if str(col_type)[:3] == 'int':
              if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                  df[col] = df[col].astype(np.int8)
              elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                  df[col] = df[col].astype(np.int16)
              elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                  df[col] = df[col].astype(np.int32)
              elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                  df[col] = df[col].astype(np.int64)
          else:
              #if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                  #df[col] = df[col].astype(np.float16)
              if c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                  df[col] = df[col].astype(np.float32)
              else:
                  df[col] = df[col].astype(np.float64)

  end_mem = df.memory_usage().sum() / 1024**2
  print('Memory usage after optimization is: {:.2f} MB'.format(end_mem))
  print('Decreased by {:.1f}%'.format(100 * (start_mem - end_mem) / start_mem))

  return df

In [ ]:
def haversine(lat1, lng1, lat2, lng2 ):
    
    
    lat1, lng1, lat2, lng2 = map(np.radians, (lat1, lng1, lat2, lng2))
    lat_diff = lat2 - lat1
    long_diff = lng2 - lng1
    distance = np.sin(lat_diff * 0.5) ** 2 + np.cos(lat1) * np.cos(lat2) * np.sin(long_diff * 0.5) ** 2
    haversine_ = 2 * 6371 * np.arcsin(np.sqrt(distance))
    return haversine_

In [ ]:
def distance(lat1, lon1, lat2, lon2):
    p = 0.017453292519943295 # Pi/180
    a = 0.5 - np.cos((lat2 - lat1) * p)/2 + np.cos(lat1 * p) * np.cos(lat2 * p) * (1 - np.cos((lon2 - lon1) * p)) / 2
    return 0.6213712 * 12742 * np.arcsin(np.sqrt(a))

In [ ]:

def manhattan_distance(lat1, lng1, lat2, lng2):
    
    h1 = haversine(lat1, lng1, lat1, lng2)
    h2 = haversine(lat1, lng1, lat2, lng1)
    return h1 + h2

In [ ]:
def bearing(lat1, lng1, lat2, lng2):
    lon_rad = np.radians(lng2 - lng1)
    lat1, lng1, lat2, lng2 = map(np.radians, (lat1, lng1, lat2, lng2))
    
    return np.degrees(np.arctan2(np.sin(lon_rad) * np.cos(lat2), np.cos(lat1) * np.sin(lat2) - np.sin(lat1) * np.cos(lat2) * np.cos(lon_rad)))

In [ ]:
def Label_enc(df) :
    le = LabelEncoder()
    le_cols =  ['sunday_from_time1','sunday_from_time2','thursday_from_time1','monday_from_time2',
                  'sunday_to_time1','tuesday_to_time2','monday_to_time2','wednesday_from_time1','friday_to_time1','tuesday_to_time1',
                  'friday_to_time2','tuesday_from_time1','monday_from_time1',
                  'wednesday_to_time1','thursday_to_time1','wednesday_from_time2','saturday_from_time1',
                  'monday_to_time1','saturday_from_time2','saturday_to_time1','sunday_to_time2',
                  'wednesday_to_time2','tuesday_from_time2',
                  'saturday_to_time2','thursday_to_time2','friday_from_time2','friday_from_time1','thursday_from_time2']
    dropped = []
    for col in le_cols:
      if df[col].isnull().sum()>75:
        df.drop(col,axis=1,inplace=True)
        dropped.append(col)
      else:
        df[col] = pd.to_datetime(df[col])
        df[col] = df[col].apply(lambda x : x.hour if (x==x) else np.nan)
    return df

In [ ]:
def total_hours_open(opening_time):
    '''
        This function will calculate the opening duration of the restaurant 
        based on the columns - 'OpeningTime' and 'OpeningTime2'
    '''
    try:
        time_array   = opening_time.split('-')
        start_time   = datetime.strptime(time_array[0], "%I:%M%p")
        end_time     = datetime.strptime(time_array[1], "%I:%M%p")
        time_del     = end_time-start_time
        hours_open   = time_del.seconds/3600
        return hours_open
    except:
        return np.nan

In [ ]:
def get_days(duration):
    time_s = duration.total_seconds()
    nb_days = divmod(time_s, 86400)[0]
    return nb_days

In [ ]:
def total_hours_open_days(time1,time2):
    '''
        This function will calculate the opening duration of the restaurant 
        based on the columns - 'day_from...'
    '''
    try:
        start_time   = datetime.strptime(time1, "%H:%M:%S")
        end_time     = datetime.strptime(time2, "%H:%M:%S")
        time_del     = end_time-start_time
        hours_open   = time_del.seconds/3600
        return hours_open
    except:
        return np.nan

# Organising train_data

## Cleaning vendors

In [ ]:
vendors = pd.read_csv('data/vendors.csv')
vendors.head(1)

   id  authentication_id  ...  device_type  display_orders
0   4           118597.0  ...            3               1

[1 rows x 59 columns]

In [ ]:
vendors['created_at'] = pd.to_datetime(vendors['created_at'], yearfirst=True)
vendors['updated_at'] = pd.to_datetime(vendors['updated_at'], yearfirst=True)
vendors['month_v_created_at'] = vendors['created_at'].dt.month

In [ ]:
vendors['Total_hours_open']           = vendors['OpeningTime'].apply(total_hours_open)
vendors['Total_hours_open2']           = vendors['OpeningTime2'].apply(total_hours_open)

In [ ]:
vendors.drop(['OpeningTime','OpeningTime2'],axis=1,inplace=True)

In [ ]:
vendors['primary_tags'] = vendors['primary_tags'].fillna(0)
vendors['primary_tags'] = vendors['primary_tags'].apply(lambda x:  int(x[17:-2]) if x!=0 else x)

In [ ]:
days = ['sunday','monday','tuesday','thursday','wednesday','saturday','friday']
for day in days:
  vendors[f'Total_hours_{day}'] = vendors.apply(lambda x : total_hours_open_days(x[f'{day}_from_time1'],x[f'{day}_to_time1']),axis=1) + vendors.apply(lambda x : total_hours_open_days(x[f'{day}_from_time2'],x[f'{day}_to_time2']),axis=1)

vendors['TOTAL_HOURS'] = vendors['Total_hours_open']

for day in days:
  vendors['TOTAL_HOURS'] = vendors['TOTAL_HOURS'] + vendors[f'Total_hours_{day}']

In [ ]:
vendors = Label_enc(vendors)

In [ ]:
fixed_date = datetime(year=2020,month=5,day=1)
vendors['days_from_creation'] = (fixed_date - vendors['created_at']).apply(get_days)

In [ ]:
to_drop_from_vendors = ['authentication_id','vendor_category_en','is_akeed_delivering'
                        ,'vendor_tag','one_click_vendor','open_close_flags','vendor_tag_name','status','verified','rank',
                        'country_id','city_id','created_at','updated_at','display_orders','device_type']
vendors.drop(to_drop_from_vendors,axis=1,inplace=True)
vendors.head(1)

   id  latitude  longitude  ...  Total_hours_friday  TOTAL_HOURS  days_from_creation
0   4 -0.588596   0.754434  ...           14.483333   123.883333               821.0

[1 rows x 53 columns]

In [ ]:
vendors.shape

(100, 53)

## Dealing with orders

In [ ]:
orders = pd.read_csv('data/orders.csv')
orders.drop_duplicates(subset = ['akeed_order_id'],inplace=True)
orders.head(1)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (15,16,18,19,20) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   akeed_order_id customer_id  ...  LOCATION_TYPE  CID X LOC_NUM X VENDOR
0        163238.0     92PEE24  ...            NaN       92PEE24 X 0 X 105

[1 rows x 26 columns]

In [ ]:
to_drop = ['delivery_date','delivery_time','promo_code']
orders.drop(to_drop,axis=1,inplace=True)

In [ ]:
#use  order_accepted_time , driver_accepted_time,ready_for_pickup_time,picked_up_time,delivered_time
# to calculate intervals times
times_f = ['created_at','order_accepted_time' , 'driver_accepted_time','ready_for_pickup_time','picked_up_time','delivered_time']
for i in times_f:
  orders[i] = pd.to_datetime(orders[i],yearfirst=True)
for i in range(len(times_f)-1):
  col2 = times_f[i+1]
  col1 = times_f[i]
  orders[f'diff_{col2}_{col1}']= (orders[col2]-orders[col1]).apply(lambda x : x.seconds)
orders['Time_from_A_Z'] = (orders['delivered_time']-orders['created_at']).apply(lambda x : x.seconds)
orders.tail(2)

        akeed_order_id  ... Time_from_A_Z
135301        415512.0  ...        2802.0
135302        415515.0  ...        2152.0

[2 rows x 29 columns]

In [ ]:
orders.is_favorite = orders.is_favorite.fillna('NAN')
orders.is_favorite = orders.is_favorite.map({'Yes':1,'No':0,'NAN':0})
orders.is_rated = orders.is_rated.fillna('NAN')
orders.is_rated = orders.is_rated.map({'Yes':1,'No':0,'NAN':0})

In [ ]:
vendor_stats = orders.groupby(by="vendor_id").agg({
    'customer_id':['count','nunique'],
    'item_count':['mean'],
    'grand_total':['mean'],
    'driver_rating' : ['mean'],
    'deliverydistance' : ['mean'],
    'preparationtime' :['mean'],
    'diff_order_accepted_time_created_at':['mean'],
    'diff_driver_accepted_time_order_accepted_time':['mean'],
    'diff_ready_for_pickup_time_driver_accepted_time':['mean'],
    'diff_picked_up_time_ready_for_pickup_time':['mean'],
    'diff_delivered_time_picked_up_time':['mean'],
    'Time_from_A_Z':['mean','max'],

})
vendor_stats.columns = ["_".join(x) for x in vendor_stats.columns.ravel()]
vendor_stats['nb_reordered'] = (vendor_stats['customer_id_count']-vendor_stats['customer_id_nunique'])
vendors = pd.merge(vendors,vendor_stats,how="left",right_on="vendor_id",left_on="id")
vendors.head()

   id  latitude  longitude  ...  Time_from_A_Z_mean  Time_from_A_Z_max  nb_reordered
0   4 -0.588596   0.754434  ...         3869.492997            39784.0          1202
1  13 -0.471654   0.744470  ...         5504.957865            39260.0           438
2  20 -0.407527   0.643681  ...         8695.876404            85978.0           817
3  23 -0.585385   0.753811  ...         3187.076621            37668.0           476
4  28  0.480602   0.552850  ...         2888.184751            42879.0           551

[5 rows x 68 columns]

In [ ]:
del orders 
del vendor_stats

In [ ]:
import gc 
gc.collect()

0

## Prepare train_locations

In [ ]:
train_locations = pd.read_csv('data/train_locations.csv')
train_locations.head(2)

  customer_id  location_number location_type  latitude  longitude
0     02SFNJH                0           NaN  1.682392 -78.789737
1     02SFNJH                1           NaN  1.679137   0.766823

In [ ]:
train_locations['location_type'] = train_locations['location_type'].fillna('NAN')
train_locations['location_type'] = train_locations['location_type'].map({'NAN':0,'Home':1,'Work':2,'Other':3})
train_locations['latitude'] = train_locations['latitude'].fillna(train_locations['latitude'].mean())
train_locations['longitude'] = train_locations['longitude'].fillna(train_locations['longitude'].mean())

In [ ]:
count = train_locations.groupby(by='customer_id').agg({'customer_id':'count'}).rename(columns={'customer_id':'places_count'})
train_locations = pd.merge(train_locations,count,on='customer_id',how='left')
del count
train_locations.head(8)

  customer_id  location_number  ...  longitude  places_count
0     02SFNJH                0  ... -78.789737             3
1     02SFNJH                1  ...   0.766823             3
2     02SFNJH                2  ...   0.661241             3
3     RU43CXC                0  ...   0.438165             1
4     BDFBPRD                0  ...   0.733464             1
5     WMGKW6W                0  ...  -1.429919             1
6     NDYLK9A                0  ... -78.566885             2
7     NDYLK9A                1  ...   0.435593             2

[8 rows x 6 columns]

## Train data preparation

In [ ]:
#producing 100 row for each train location row with the 100 vendors 
vendors['key'] = 0
train_locations['key'] = 0
train = train_locations.merge(vendors, on="key")
del train_locations
gc.collect()
train.head()

  customer_id  location_number  ...  Time_from_A_Z_max  nb_reordered
0     02SFNJH                0  ...            39784.0          1202
1     02SFNJH                0  ...            39260.0           438
2     02SFNJH                0  ...            85978.0           817
3     02SFNJH                0  ...            37668.0           476
4     02SFNJH                0  ...            42879.0           551

[5 rows x 75 columns]

In [ ]:
#creating a unique id to create the train target : 
#if there was an order correspondig to the "CID X LOC_NUM X VENDOR" then target 1 otherwise target is 0 
train.rename(columns={'id':'vendor_id'},inplace=True)
train['CID X LOC_NUM X VENDOR'] = train['customer_id'].astype('str') + ' X ' + train['location_number'].astype('str') + ' X ' + train['vendor_id'].astype('str')

In [ ]:
orders = pd.read_csv('data/orders.csv')
orders['target'] = 1
orders = orders[['CID X LOC_NUM X VENDOR','target']]

#dropping duplicates from order in order to keep the same size in the train dataframe
orders = orders.drop_duplicates(subset=['CID X LOC_NUM X VENDOR'])
orders.head(1)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (15,16,18,19,20) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  CID X LOC_NUM X VENDOR  target
0      92PEE24 X 0 X 105       1

In [ ]:
#merging 
train = pd.merge(train, orders,how="left", on='CID X LOC_NUM X VENDOR')
#filling the nan values pf the target with 0 
train['target'] = train['target'].fillna(0)
del orders
gc.collect() 
train.head(2)

  customer_id  location_number  ...  CID X LOC_NUM X VENDOR  target
0     02SFNJH                0  ...         02SFNJH X 0 X 4     0.0
1     02SFNJH                0  ...        02SFNJH X 0 X 13     0.0

[2 rows x 77 columns]

In [ ]:
#dropping unnecesary columns
to_drop = ['key','CID X LOC_NUM X VENDOR']
train.drop(to_drop,axis=1,inplace=True)

In [ ]:
train['diff1'] = abs(train['latitude_x']-train['latitude_y'])
train['diff2'] = abs(train['longitude_x']-train['longitude_y'])

train['center_latitude'] = (train['latitude_x'].values + train['latitude_y'].values) / 2
train['center_longitude'] = (train['longitude_x'].values + train['longitude_y'].values) / 2

In [ ]:
#distances
train['harvesine_dist'] = haversine(train['latitude_y'], train['longitude_y'], train['latitude_x'], train['longitude_x'])/1000
train['manhattan_dist'] = manhattan_distance(train['latitude_y'], train['longitude_y'], train['latitude_x'], train['longitude_x'])/1000
train['other_dist'] = distance(train['latitude_y'], train['longitude_y'], train['latitude_x'], train['longitude_x'])/1000
train['bearing'] = bearing(train['latitude_y'], train['longitude_y'], train['latitude_x'], train['longitude_x'])

In [ ]:
train['diff_center_longx'] = abs(train['longitude_x']-train['center_longitude'])
train['diff_center_longy'] = abs(train['longitude_y']-train['center_longitude'])
train['diff_center_latx'] = abs(train['latitude_x']-train['center_latitude'])
train['diff_center_laty'] = abs(train['latitude_y']-train['center_latitude'])
train['sum_1'] = train['latitude_x'] + train['longitude_x']
train['sum_2'] = train['latitude_y'] + train['longitude_y']
train['sum_3'] = train['latitude_x'] + train['longitude_y']
train['sum_4'] = train['latitude_y'] + train['longitude_x']

In [ ]:
train['conv1'] = train['latitude_x']*train['latitude_y']
train['conv2'] = train['longitude_x']*train['longitude_y']

In [ ]:
#Distance ration        >>>>>>>>>>>>>>>>>>>> I TRIED TO GET A RELATION BETWEEN SERVING DISTANCE AND DISTANCE :)
train['distance_ratio_1'] = train['harvesine_dist'] / train['serving_distance']
train['distance_ratio_2'] = train['manhattan_dist'] / train['serving_distance']
train['distance_ratio_3'] = train['other_dist'] / train['serving_distance']

#distance diffirence
train['distance_diff_1'] = train['harvesine_dist'] - train['serving_distance']
train['distance_diff_2'] = train['manhattan_dist'] - train['serving_distance']
train['distance_diff_3'] = train['other_dist'] - train['serving_distance']

In [ ]:
distance_stats = train.groupby(by="customer_id").agg({ 
    'distance_diff_1':['mean','std'],
    'distance_diff_2':['mean','std'],
    'distance_diff_3':['std','mean'],
    'distance_ratio_1' : ['std','mean','max'] ,
    'distance_ratio_2' : ['std','mean','max'],
    'distance_ratio_3' : ['std','mean','max'],
    'harvesine_dist' : ['std','mean','max'],
    'other_dist' : ['mean','std'],
    'manhattan_dist':['mean','std','max'],
    'bearing' : ['std','mean'],
    'diff1' : ['mean','std'],
    'diff2' : ['mean','std'],
    'conv1' : ['mean','std'],
    'conv2' : ['mean','std'],
    'longitude_x':['mean'],
    'latitude_x' : ['mean']

    })
distance_stats.columns = ["_".join(x) for x in distance_stats.columns.ravel()]
train = pd.merge(train,distance_stats,how="left",on="customer_id")

In [ ]:
train.head()

  customer_id  location_number  ...  longitude_x_mean  latitude_x_mean
0     02SFNJH                0  ...        -25.787224         0.954293
1     02SFNJH                0  ...        -25.787224         0.954293
2     02SFNJH                0  ...        -25.787224         0.954293
3     02SFNJH                0  ...        -25.787224         0.954293
4     02SFNJH                0  ...        -25.787224         0.954293

[5 rows x 134 columns]

## Add train customers

In [ ]:
tr_customers = pd.read_csv('/content/data/train_customers.csv')
tr_customers=tr_customers.drop_duplicates(subset=['akeed_customer_id'])

In [ ]:
tr_customers['gender'] = tr_customers['gender'].fillna('nan')
tr_customers['gender'] = tr_customers['gender'].apply(lambda x : x.lower().strip())
tr_customers['gender'] = tr_customers['gender'].map({'nan':0,'male':1,'female':2,'?????':0,'':0})
tr_customers['language'] = tr_customers['language'].apply(lambda x : 1 if(x=='EN') else 0)

In [ ]:
#TIME_FEATURES
tr_customers['created_at'] = pd.to_datetime(tr_customers['created_at'], yearfirst=True)
tr_customers['updated_at'] = pd.to_datetime(tr_customers['updated_at'], yearfirst=True)

tr_customers['year_cust_created_at'] = tr_customers['created_at'].dt.year
tr_customers['month_cust_created_at'] = tr_customers['created_at'].dt.month

In [ ]:
tr_customers.drop(['dob','created_at','updated_at'],axis=1,inplace=True)
train = pd.merge(train,tr_customers,how='left',left_on='customer_id',right_on='akeed_customer_id')
train.drop(['customer_id','akeed_customer_id'],axis=1,inplace=True)

In [ ]:
del tr_customers
gc.collect()

0

In [ ]:
to_drop = []
for x in train.columns:
  if(train[x].nunique()==1):
    to_drop.append(x)
to_drop

['commission', 'language_x']

In [ ]:
train.drop(to_drop, axis=1, inplace=True)

In [ ]:
train = reduce_mem_usage(train)
train = train.fillna(-999)

Memory usage after optimization is: 2945.14 MB
Decreased by 53.0%

# Organise Test Data

## clean test_locations

In [ ]:
test_locations = pd.read_csv('data/test_locations.csv')

In [ ]:
test_locations['location_type'] = test_locations['location_type'].fillna('NAN')
test_locations['latitude'] = test_locations['latitude'].fillna(test_locations['latitude'].mean())
test_locations['longitude'] = test_locations['longitude'].fillna(test_locations['longitude'].mean())

In [ ]:
test_locations['latitude'] = test_locations['latitude'].fillna(test_locations['latitude'].mean())
test_locations['longitude'] = test_locations['longitude'].fillna(test_locations['longitude'].mean())

In [ ]:
test_locations['location_type'] = test_locations['location_type'].map({'NAN':0,'Home':1,'Work':2,'Other':3})

In [ ]:
count = test_locations.groupby(by='customer_id').agg({'customer_id':'count'}).rename(columns={'customer_id':'places_count'})
test_locations = pd.merge(test_locations,count,on='customer_id',how='left')
test_locations.head()

  customer_id  location_number  ...  longitude  places_count
0     Z59FTQD                0  ...  -9.106019             1
1     0JP29SK                0  ... -78.623847             7
2     0JP29SK                1  ... -78.605621             7
3     0JP29SK                2  ... -78.577449             7
4     0JP29SK                3  ...   0.136726             7

[5 rows x 6 columns]

## Test data Preparation

In [ ]:
#producing 100 row for each train location row with the 100 vendors 
vendors['key'] = 0
test_locations['key'] = 0
test = test_locations.merge(vendors, on="key")
test.head()

  customer_id  location_number  ...  Time_from_A_Z_max  nb_reordered
0     Z59FTQD                0  ...            39784.0          1202
1     Z59FTQD                0  ...            39260.0           438
2     Z59FTQD                0  ...            85978.0           817
3     Z59FTQD                0  ...            37668.0           476
4     Z59FTQD                0  ...            42879.0           551

[5 rows x 75 columns]

In [ ]:
#creating a unique id to create the train target : 
#if there was an order correspondig to the "CID X LOC_NUM X VENDOR" then target 1 otherwise target is 0
test['CID X LOC_NUM X VENDOR'] = test['customer_id'].astype('str') + ' X ' +test['location_number'].astype('str')+' X '+test['id'].astype('str')

In [ ]:
#all ids will be uded for creating the submission file 
all_ids = test['CID X LOC_NUM X VENDOR']
test.drop('CID X LOC_NUM X VENDOR',axis=1,inplace=True)

In [ ]:
test.rename(columns={'id':'vendor_id'},inplace=True)

In [ ]:
test.drop(['key'],axis=1,inplace=True)

In [ ]:
test['diff1'] = abs(test['latitude_x']-test['latitude_y'])
test['diff2'] = abs(test['longitude_x']-test['longitude_y'])

test['center_latitude'] = (test['latitude_x'].values + test['latitude_y'].values) / 2
test['center_longitude'] = (test['longitude_x'].values + test['longitude_y'].values) / 2

In [ ]:
#distances
test['harvesine_dist'] = haversine(test['latitude_y'], test['longitude_y'], test['latitude_x'], test['longitude_x'])/1000
test['manhattan_dist'] = manhattan_distance(test['latitude_y'], test['longitude_y'], test['latitude_x'], test['longitude_x'])/1000
test['other_dist'] = distance(test['latitude_y'], test['longitude_y'], test['latitude_x'], test['longitude_x'])/1000
test['bearing'] = bearing(test['latitude_y'], test['longitude_y'], test['latitude_x'], test['longitude_x'])

In [ ]:
test['diff_center_longx'] = abs(test['longitude_x']-test['center_longitude'])
test['diff_center_longy'] = abs(test['longitude_y']-test['center_longitude'])
test['diff_center_latx'] = abs(test['latitude_x']-test['center_latitude'])
test['diff_center_laty'] = abs(test['latitude_y']-test['center_latitude'])
test['sum_1'] = test['latitude_x'] + test['longitude_x']
test['sum_2'] = test['latitude_y'] + test['longitude_y']
test['sum_3'] = test['latitude_x'] + test['longitude_y']
test['sum_4'] = test['latitude_y'] + test['longitude_x']
test['sumDiff'] = test['diff1'] + test['diff2']

In [ ]:
test['conv1'] = test['latitude_x']*test['latitude_y']
test['conv2'] = test['longitude_x']*test['longitude_y']

In [ ]:
#Distance ration        >>>>>>>>>>>>>>>>>>>> I TRIED TO GET A RELATION BETWEEN SERVING DISTANCE AND DISTANCE :)
test['distance_ratio_1'] = test['harvesine_dist'] / test['serving_distance']
test['distance_ratio_2'] = test['manhattan_dist'] / test['serving_distance']
test['distance_ratio_3'] = test['other_dist'] / test['serving_distance']

#distance diffirence
test['distance_diff_1'] = test['harvesine_dist'] - test['serving_distance']
test['distance_diff_2'] = test['manhattan_dist'] - test['serving_distance']
test['distance_diff_3'] = test['other_dist'] - test['serving_distance']

In [ ]:
distance_stats = test.groupby(by="customer_id").agg({ 
    'distance_diff_1':['mean','std'],
    'distance_diff_2':['mean','std'],
    'distance_diff_3':['std','mean'],
    'distance_ratio_1' : ['std','mean','max'] ,
    'distance_ratio_2' : ['std','mean','max'],
    'distance_ratio_3' : ['std','mean','max'],
    'harvesine_dist' : ['std','mean','max'],
    'other_dist' : ['mean','std'],
    'manhattan_dist':['mean','std','max'],
    'bearing' : ['std','mean'],
    'diff1' : ['mean','std'],
    'diff2' : ['mean','std'],
    'conv1' : ['mean','std'],
    'conv2' : ['mean','std'],
    'longitude_x':['mean'],
    'latitude_x' : ['mean']

    })
distance_stats.columns = ["_".join(x) for x in distance_stats.columns.ravel()]
test = pd.merge(test,distance_stats,how="left",on="customer_id")

## Add test_customers

In [ ]:
test_customers = pd.read_csv('/content/data/test_customers.csv')
test_customers  =test_customers.drop_duplicates(subset = ['akeed_customer_id'])

In [ ]:
test_customers['gender'] = test_customers['gender'].fillna('nan')
test_customers['gender'] = test_customers['gender'].apply(lambda x : x.lower().strip())
test_customers['gender'] = test_customers['gender'].map({'nan':0,'male':1,'female':2,'?????':0,'':0})
test_customers['language'] = test_customers['language'].apply(lambda x : 1 if(x=='EN') else 0)

In [ ]:
#TIME_FEATURES
test_customers['created_at'] = pd.to_datetime(test_customers['created_at'], yearfirst=True)
test_customers['updated_at'] = pd.to_datetime(test_customers['updated_at'], yearfirst=True)


test_customers['year_cust_created_at'] = test_customers['created_at'].dt.year
test_customers['month_cust_created_at'] = test_customers['created_at'].dt.month

In [ ]:
test_customers.drop(['dob','created_at','updated_at'],axis=1,inplace=True)
test = pd.merge(test,test_customers,how='left',left_on='customer_id',right_on='akeed_customer_id')
test.drop(['customer_id','akeed_customer_id'],axis=1,inplace=True)

In [ ]:
del test_customers
gc.collect()

25

In [ ]:
test = reduce_mem_usage(test)
test.fillna(-999,inplace=True)

Memory usage after optimization is: 846.70 MB
Decreased by 52.6%

# Predicting

In [ ]:
import lightgbm as lgb

In [ ]:
X = train.drop('target',axis=1)
y = train.target
del train 
gc.collect()

0

In [ ]:
test.shape,X.shape

((1672000, 139), (5950300, 136))

In [ ]:
test = test[X.columns]
X = X[X.columns]

In [ ]:
test.shape,X.shape

((1672000, 136), (5950300, 136))

In [ ]:
trn_data = lgb.Dataset(X, label=y)

In [ ]:
weight = 5870158/80142/10
param = {
    'bagging_freq': 1,
    'bagging_fraction': 0.95,
    'feature_fraction': 0.96,
    'boost_from_average':'false',
    'num_leaves': 92,
    'boost': 'gbdt',
    'learning_rate': 0.03,
    'metric':'auc',
    'scale_pos_weight': round(weight, 1),
    'tree_learner': 'serial',
    'objective': 'binary',
    'random_state': SEED_VAL,
    'n_jobs': -1,
    'verbosity': -1
}

lgb_model = lgb.train(param, trn_data, 5000, valid_sets = [trn_data], verbose_eval=500)

[500]	training's auc: 0.93711
[1000]	training's auc: 0.949238
[1500]	training's auc: 0.957804
[2000]	training's auc: 0.964222
[2500]	training's auc: 0.969379
[3000]	training's auc: 0.973629
[3500]	training's auc: 0.977107
[4000]	training's auc: 0.979978
[4500]	training's auc: 0.982491
[5000]	training's auc: 0.984661

In [ ]:
pred_lgb = lgb_model.predict(test)

In [ ]:
sub = pd.DataFrame()
sub['CID X LOC_NUM X VENDOR'] = all_ids
sub['target'] = (pred_lgb>0.475).astype('int')
sub.head()

  CID X LOC_NUM X VENDOR  target
0        Z59FTQD X 0 X 4       0
1       Z59FTQD X 0 X 13       0
2       Z59FTQD X 0 X 20       0
3       Z59FTQD X 0 X 23       0
4       Z59FTQD X 0 X 28       0

In [ ]:
sub.target.mean()

0.019050837320574162

In [ ]:
sub.target.value_counts()

0    1640147
1      31853
Name: target, dtype: int64

In [ ]:
sub.to_csv('Akeed_LGB_ALL_DATA_Ahmed_Binary.csv',index=False)

In [ ]:
sub = pd.DataFrame()
sub['CID X LOC_NUM X VENDOR'] = all_ids
sub['target'] = pred_lgb
sub.to_csv('Akeed_LGB_ALL_DATA_Ahmed_Float_Preds.csv',index=False)
sub.head()

  CID X LOC_NUM X VENDOR        target
0        Z59FTQD X 0 X 4  5.899190e-09
1       Z59FTQD X 0 X 13  2.204308e-09
2       Z59FTQD X 0 X 20  7.948799e-09
3       Z59FTQD X 0 X 23  3.917857e-09
4       Z59FTQD X 0 X 28  4.084871e-08